/* Estilos para el encabezado */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header {
    background-color: #30336b;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos para los campos de entrada */
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #30336b;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  }
  
  select {
    color: #30336b;
  }
  
  /* Estilos para el botón de calcular */
  #btnCalcular {
    background-color: #feca57;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  #btnCalcular:hover {
    background-color: #f39c12;
  }
  
  /* Estilos para los campos de resultado */
  input[readonly="true"] {
    background-color: #fff;
    color: #30336b;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  